@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background: url(bg-1.jpg);
    background-attachment: fixed;
    background-blend-mode: hard-light;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(bg-1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
}

.container h2 {
    text-align: center;
    font-size: 10em;
    font-weight: 700;
    line-height: 0.7em;
    color: cyan;
    margin-top: -80px;
}

.container h2 span {
    display: block;
    letter-spacing: 6px;
    font-weight: 500;
    font-size: 0.2em;
    color: blanchedalmond;
}

.countdown {
    display: flex;
    margin-top: 50px;
}

.countdown div {
    position: relative;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    background: aqua;
    color: #333;
    margin: 0 15px;
    font-size: 3em;
    font-weight: 600;
}

.countdown div::before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    height: 35px;
    width: 100%;
    background-color: #111727;
    color: #cacaca;
    font-size: 0.35em;
    line-height: 35px;
    font-weight: 500;
}

.countdown #day::before {
    content: 'Days';
}

.countdown #hour::before {
    content: 'Hours';
}

.countdown #minute::before {
    content: 'Minutes';
}

.countdown #second::before {
    content: 'Seconds';
}